.griding{
   background-image: linear-gradient(beige,goldenrod, salmon);
   margin:5%;
   border-radius: 10px;
   padding: 5%;
   color:rgb(87, 75, 75);
   height:520px;
   
}
.griding img{
    width:30%;
    margin:3%;
}
.griding:hover{
    background-image: linear-gradient(cyan,white,aquamarine);

}
.btn{
    padding:3%;
    /* background-color: rgb(253, 84, 84); */
    border: 1px solid wheat;
    border-radius: 5px;
    cursor: pointer;
}
.name{
    color:rgb(42, 198, 222);
}